# Markov chain Model for snakes and ladders
## This algorithm is used to calculate the length of  snakes and ladders of any length or/and any board size
### * Author: Edwin Ismail *
** results can be comapred with the paper list below **
* https://doi.org/10.2307/3619261
* http://www.jstor.org/stable/10.4169/college.math.j.42.1.002

In [1]:
import numpy as np
import pandas as pd

** input size of the dice and size of the board **

In [2]:
print("please enter size of the dice")
dice = int(input())
print("please enter size of the board")
board = int(input())
state = board+1

please enter size of the dice
please enter size of the board

### Initializing the board

In [3]:
M = np.zeros((state, state), dtype=float)

In [4]:
#list of snakes and ladder
snakes_ladders = [[1,38],[4,14],[9,31],[21,42],[28,84],[36,44],[51,67],[71,91],[80,100],[16,6],[47,26],[49,11],[56,53],[62,19],[64,60],[87,24],[93,73],[95,75],[98,78]]
#snakes = [[16,6],[47,26],[49,11],[56,53],[62,19],[64,60],[87,24],[93,73],[95,75],[98,78]]

### function for forming a transition matrix

In [5]:
#no snake or ladder transition matrix
def transition_matrix1(dice,board,state):
    for i in range(0, state):
        for j in range(1, state):
            if j<=dice and i<=board-dice:
                M[i, j+i] = 1/dice
            if i>= board-dice:
                M[i,i]=((dice-board)+i)/dice
                if j+i<len(M):
                    M[i,j+i]=1/dice

### function for transition matrix with snakes and ladders

In [6]:
#transition matrix with  snake and ladder               
def snake_ladder(snakes,state):
    for i in range(0,state):
        for snake in snakes:
            if i < snake[0]:
                M[i, snake[1]] = M[i, snake[1]] + M[i, snake[0]]
            M[snake[0], i] = 0
            M[i, snake[0]] = 0

### function to calcutale the average expected length of the game snakes and ladders

In [7]:
#calculating length of the game based on fundamental form
def fundamental_form(M):
    Q=M[:-1,:-1]
    N=np.linalg.inv(np.identity(len(Q))-Q)
    length=np.matmul(N,np.ones((len(N),1)))
    return length[0][0]

In [8]:
transition_matrix1(dice,board,state)

** data frame is used for better visualisation of the array **

In [9]:

df=pd.DataFrame(M)
df

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,0.0,0.166667,0.166667,0.166667,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.0,0.000000,0.166667,0.166667,0.166667,0.166667,0.166667,0.166667,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.0,0.000000,0.000000,0.166667,0.166667,0.166667,0.166667,0.166667,0.166667,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.0,0.000000,0.000000,0.000000,0.166667,0.166667,0.166667,0.166667,0.166667,0.166667,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.0,0.000000,0.000000,0.000000,0.000000,0.166667,0.166667,0.166667,0.166667,0.166667,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.333333,0.166667,0.166667,0.166667,0.166667
97,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.500000,0.166667,0.166667,0.166667
98,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.666667,0.166667,0.166667
99,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.833333,0.166667
100,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,1.000000

In [10]:
snake_ladder(snakes_ladders,state)
df=pd.DataFrame(M)
df

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,0.0,0.0,0.166667,0.166667,0.0,0.166667,0.166667,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000
1,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000
2,0.0,0.0,0.000000,0.166667,0.0,0.166667,0.166667,0.166667,0.166667,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000
3,0.0,0.0,0.000000,0.000000,0.0,0.166667,0.166667,0.166667,0.166667,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000
4,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.333333,0.166667,0.0,0.166667,0.166667
97,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.500000,0.0,0.166667,0.166667
98,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000
99,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.833333,0.166667
100,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,1.000000

** printing the length of the game **

In [11]:
print("The average length of the game with {} sqaure board and die size of {} is  {}".format(board,dice,fundamental_form(M)))

The average length of the game with 100 sqaure board and die size of 6 is  39.22512230823489